.container {
  position: fixed;
  top: var(--space6);
  right: var(--space6);
  z-index: calc(var(--zModal) + 10);
  display: flex;
  flex-direction: column;
  gap: var(--space3);
  pointer-events: none;
}

.container > * {
  pointer-events: auto;
}

@media (max-width: 640px) {
  .container {
    top: var(--space4);
    right: var(--space4);
    left: var(--space4);
  }
}
